# WIP
## IES - Python - Project
### Marathon Results
### Data analysis
#### David Koubek, Jiri Zelenka

### Import required packages.

In [2]:
import pandas as pd # for dataframe

### Load the data

Are we allowed to scrape?

In [5]:
# Load the scraped data
df = pd.read_csv('../Scraper/data_2019.csv')
df

    Rank                         Name     Time Nationality
0      1                Benard KIMELI  0:59:07         KEN
1      2                Felix KIBITOK  0:59:08         KEN
2      3               Stephen KIPROP  0:59:20         KEN
3      4       Geoffrey Kimutai KOECH  1:00:30         KEN
4      5                   Henry RONO  1:00:37         KEN
5      6                  Moses KIBET  1:00:58         UGA
6      7       Moses Kipngetich KEMEI  1:01:17         KEN
7      8         Yohanes GHEBREGERGIS  1:01:42         ERI
8      9      Ishmael Chelanga KALALE  1:01:43         KEN
9     10    Philimon Kipkorir MARITIM  1:02:03         KEN
10    11               Abel KIPCHUMBA  1:02:05         KEN
11    12                 Jiří HOMOLÁČ  1:04:01         CZE
12    13                   Felix BOUR  1:04:16         FRA
13    14              Igor OLEFIRENKO  1:04:21         UKR
14    15  Caroline Chepkoech KIPKIRUI  1:05:44         KAZ

### Data exploration